@page "/"
@using Microsoft.EntityFrameworkCore
@using PharmacyDBMS.Data
@inject IDbContextFactory<PharmacyContext> PharmacyContextFactory;
<PageTitle>Index</PageTitle>

<h1>Login</h1>

Welcome to your new app.


