@page "/"
@using Microsoft.EntityFrameworkCore
@using PharmacyDBMS.Data
@inject IDbContextFactory<PharmacyContext> PharmacyContextFactory;
<PageTitle>Index</PageTitle>

<h1>Login</h1>



<div class="row">
    <label for="Name" class="col-4 col-form-label">Employee Name</label>
    <div class="col-8">
        <input id="Name" name="Name" type="text" class="form-control" />
    </div>
</div>

<div class="row">
    <label for="Password" class="col-4 col-form-label">Password</label>
    <div class="col-8">
        <input id="Pass" name="Pass" type="text" class="form-control" />
    </div>
        </div>



